<div class="container-fluid fill-height">
  <div class = "row" >

    <div class= "col-4">
      <br>
      <h1 class="card-title"><%= @movie['title'] %> <%= @movie['release_date'][0,4]%></h1>
      <p class="card-text">
        <%= @movie['vote_average']%> <span class="ion-star"></span>
        <br>
        <%= @movie['vote_count']%> <span class="ion-person-add"></span>
        <br>
        <% @movie['genres'].each do |genre| %>
          <%=  genre['name'] %> .
        <% end %>
        <br>

      </p>
    </div>

    <div class= "col-8 gallery">
      <% poster_path = @movie['poster_path'] %>
      <% if poster_path %>
        <img class= "w-100" src="<%= "https://image.tmdb.org/t/p/w500/#{poster_path}" %>" alt="<%= @movie['name'] %>" >
      <% end %>
    </div>


  </div>


  <div class = "row">
    <div class="col-8 jumbotron">
        <h4>ABOUT</h4>
        <p><%= @movie['overview'] %></p>
    </div>

    <div class = "col-4 card-body">

      <p class= "card-text"><strong>Now showing in</strong>
        <% @movie['spoken_languages'].each do |lang| %>
        <%= lang['name'] %>
        <% end %> <br/>

        <strong>Runtime</strong> <%= @movie['runtime'] %> minutes <br/>
      </p>
      <p>
        <strong>Revenue</strong> $<%=@movie['revenue'] %><br/>
        <strong>Budget</strong> $<%= @movie['budget'] %><br/>
      </p>



    </div>
  </div>
</div>
