<div class="container-fluid fill-height">
  <div class = "row" >

    <div class= "col-4">
      <br>
      <h1 class="card-title"><%= @tvshow['name'] %> <%= @tvshow['first_air_date'][0,4]%></h1>
      <p class="card-text">
        <%= @tvshow['vote_average']%> <span class="ion-star"></span>
        <br>
        <%= @tvshow['vote_count']%> <span class="ion-person-add"></span>
        <br>
        <%= @tvshow['origin_country'].first %> <span class="ion-flag"></span>
        <br>
        <% @tvshow['genres'].each do |genre| %>
          <%=  genre['name'] %> .
        <% end %>


      </p>
    </div>

    <div class= "col-8 gallery">
      <% poster_path = @tvshow['poster_path'] %>
      <% if poster_path %>
        <img class ="w-100" src="<%= "https://image.tmdb.org/t/p/w500/#{poster_path}" %>" alt="<%= @tvshow['name'] %>" >
      <% end %>
    </div>


  </div>

  <br>

  <div class = "row">
    <div class="col-6 jumbotron">
        <h4>ABOUT</h4>
        <span class = "show-text"><%= @tvshow['overview'] %></span>
    </div>

    <div class = "col-6">
      <div class="w-100">
        <% poster_path = @tvshow['last_episode_to_air']["still_path"] %>
        <% if poster_path %>
          <img class ="card-img-top" src="<%= "https://image.tmdb.org/t/p/w500/#{poster_path}" %>" alt="<%= @tvshow['name'] %>" >
        <% end %>
        <div class="card-body">
          <h5 class="card-text">Last Episode : <%= @tvshow['last_episode_to_air']["name"] %></h5>
          <p class="show-text"><%= @tvshow['last_episode_to_air']["overview"] %><p>
        </div>
      </div>

    </div>
  </div>


  <div class = "row">
    <div class="col-8 jumbotron">
        <h4>Cast</h4>
        <span class = "show-text"><%= @tvshow['overview'] %></span>
    </div>

    <div class = "col-4">
    </div>
  </div>
</div>
