
<div class="container-fluid">
  <% if @search.nil? || @search.empty? %>
    <h3 class="page-title">0 Results for '<%= @search %>'</h3>
  <% else %>
    <h3 class="page-title">Search Results for '<%= @search %>'</h3>


    <% @search_results.each do |result| %>
      <% media = result["media_type"] %>
      <% rating = result['vote_count']%>
      <% poster_path = result['poster_path'] %>

      <% if media == "movie" %>
        <% name = result['title'] %>
      <% else %>
        <% name = result['name'] %>
      <% end %>



      <% if media == "movie" && poster_path %>
        <div class="d-inline-flex justify-content-between" style="width: 14rem;">
              <div class="card">
                  <!-- https://developers.themoviedb.org/3/getting-started/images -->

                    <%= link_to(controller: 'movies', action: 'show', id:result['id']) do %>
                      <img class="" src="<%= "https://image.tmdb.org/t/p/w200/#{poster_path}" %>" alt="<%= name %>" >
                    <% end %>

                    <div class="card-body">
                      <p class="card-title">
                        <%= name %>
                      </p>

                      <p class="card-info">
                        <%= result['vote_average'] %> <span class="ion-star"></span>
                        <%= rating %> <span class="ion-person-add"></span>
                      </p>
                    </div>

                </div>
        </div>

      <% elsif media == "tv" && poster_path %>
          <div class="d-inline-flex justify-content-between" style="width: 14rem;">
                <div class="card">
                    <!-- https://developers.themoviedb.org/3/getting-started/images -->

                      <%= link_to(controller: 'tvshows', action: 'show', id:result['id']) do %>
                        <img class="" src="<%= "https://image.tmdb.org/t/p/w200/#{poster_path}" %>" alt="<%= name %>" >
                      <% end %>

                      <div class="card-body">
                        <p class="card-title">
                          <%= name %>
                        </p>

                        <p class="card-info">
                          <%= result['origin_country'].first %> <span class="ion-flag"></span>
                          <%= result['vote_average'] %> <span class="ion-star"></span>
                          <%= rating %> <span class="ion-person-add"></span>
                        </p>
                      </div>
                </div>
          </div>
      <% end %>

    <% end %>
  <% end %>
</div>
